// Breakpoints
$bp-mobile: 480px;  
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1500px;

// Tipografía
$primary-font: "Merriweather", serif;
$secondary-font: "Poppins", sans-serif;

// Tamaño de contenedor
$max-width-container: 1350px;

// Colores
$color-background-html: #d7d7d7;
$color-navbar: #333;
$color-subtitulo: #909090;
$color-rojo: #DB2A6B;
$color-azul-oscuro: #264065;
$color-verde: #31eb2f;
$color-verde-oscuro: #197217;
$text-color: #333;
$secondary-color: #1b263b;
$primary-color: #0d1b2a;
$secondary-color: #1b263b;
$accent-color: #00b4d8;
$light-color: #f1f1f1;
$text-color: #333;
$shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
