<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contacto | Conquerblocks</title>
  <meta name="description" content="Ponte en contacto con nosotros para cualquier consulta o información adicional.">
  <meta name="author" content="Daniel Labrador Benito"> 

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  

  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <div class="header__container">
      <a class="logo-conquer" href="../../index.html">
        <img class="img-logo-conquer" src="../../img/home/logotipo/logo-conquerblocks-color.png" alt="Logotipo de Conquerblocks">
      </a>

      <!-- Toggle del menú con checkbox -->
      <input type="checkbox" id="menu-toggle" class="menu-checkbox">
      <label for="menu-toggle" class="menu-toggle">&#9776;</label>

      
      <nav class="navbar-principal">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li>
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  
  </header>

  <main>
    <section class="header-contact">
        <h1>Contacto</h1>
        <p>Si tienes alguna consulta, duda o comentario, ¡no dudes en ponerte en contacto con nosotros! Aquí encontrarás todos los datos y un formulario para enviarnos tu mensaje.</p>
    </section>

    <section class="contact-hero">
      <h2>Datos de contacto</h2>
      <p>Dirección: Calle Ejemplo 123, Madrid, España.</p>
      <p>Teléfono: +34 912 345 678</p>
      <p>Email: contacto@conquerblocks.com</p>


      <div class="localizacion">
        <h2>Localización</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12063.804609413557!2d-3.7037904842214014!3d40.41677597933157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42288be94cded7%3A0x79cdde12317429c9!2sMadrid%2C%20España!5e0!3m2!1ses!2ses!4v1617389263469!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </section>

    
    

    <section class="form-contacto">
      <h2>Formulario de contacto</h2>
      <p>Completa el siguiente formulario para ponerte en contacto con nosotros. ¡Te responderemos lo antes posible!</p>
    
      <form action="" method="post">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" placeholder="Tu nombre completo" required>
          <div class="error-message" id="error-nombre"></div>
        </div>
    
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>
          <div class="error-message" id="error-email"></div>
        </div>
    
        <div class="form-group">
          <label for="mensaje">Mensaje</label>
          <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje aquí" required></textarea>
          <div class="error-message" id="error-mensaje"></div>
        </div>
    
        <div class="form-actions">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </section>
  </main>

  <footer>
    <div class="footer__content-principal">
      <nav class="navbar-secundario">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li>
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav> 
  
      <nav class="navbar-redes_sociales">
        <ul>
          <li><a href=""><img src="../../img/redes_sociales/instagram.svg" alt="Instagram"></a></li>

          <li><a href=""><img src="../../img/redes_sociales/linkedin.svg" alt="Linkedin"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/facebook.svg" alt="Facebook"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/twitter.svg" alt="Twitter"></a></li>
        </ul>
      </nav>
    </div>
    
    <p>Somos una escuela tech online, con varios años de experiencia en el sector. Si tienes preguntas no dudes en ponerte en contacto con nosotros, te esperamos aqui en CONQUERBLOCKS</p>
    <p class="footer__aviso">Copyright © 2024 by CONQUERBLOCKS <a href="../generales/aviso_legal.html">Aviso legal</a></p>
  </footer>
</body>

</html>
