<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sobre Nosotros | Quienes Somos</title>
  <meta name="description" content="Descubre los mejores cursos tecnológicos en Conquer Academy. Aprende desarrollo web, inteligencia artificial, ciberseguridad y más, con programas prácticos y mentores expertos. Impulsa tu carrera en el mundo tech con nuestras formaciones flexibles y accesibles para todos los niveles.">
  <meta name="author" content="Daniel Labrador Benito"> 

  <link rel="apple-touch-icon" sizes="57x57" href="../../favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../../favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
  <link rel="manifest" href="../../favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../../css/style.css">

  
</head>

<body>
  <header>
    <div class="header__container">
      <a class="logo-conquer" href="../../index.html">
        <img class="img-logo-conquer" src="../../img/home/logotipo/logo-conquerblocks-color.png" alt="Logotipo de Conquerblocks">
      </a>

      <!-- Toggle del menú con checkbox -->
      <input type="checkbox" id="menu-toggle" class="menu-checkbox">
      <label for="menu-toggle" class="menu-toggle">&#9776;</label>

      
      <nav class="navbar-principal">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li> <!-- misma carpeta -->
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  
  </header>

  <main>
    <section class="hero_quienes-somos">
        <h1>Sobre Nosotros</h1> <!-- Este es el section de bienvenida a quienes somos -->
        <iframe 
          src="https://www.youtube.com/embed/oEob7Q1gkME" 
          title="Video sobre Conquer Blocks" 
          frameborder="0" 
          allowfullscreen>
        </iframe>
        <div class="subcontent">
          <p>Conquer Blocks es la mayor academia de programación en habla hispana, y la que cuenta con mayores garantías de empleo. Aquí podrás aprender sobre Desarrollo Full-Stack, Desarrollo Blockchain, Inteligencia Artificial y Ciberseguridad.</p>  
        </div>
        
    </section>
      
    <section class="equipo_quienes-somos"> <!-- Este es el section de mostrar el equipo -->
        <h2>Nuestro Equipo Directivo</h2>
        <article class="equipo1"> <!-- Este es el article del equipo directivo -->
          <figure>
            <img src="../../img/quienes_somos/fotos_equipo/equipo_directivo/ceo.jpg" alt="Alexis Bautista, CEO de la Academia">
            <figcaption>Alexis Bautista, CEO de la Academia</figcaption>
          </figure>
          <figure>
            <img src="../../img/quienes_somos/fotos_equipo/equipo_directivo/director_academico.jpg" alt="Bienvenido, Director Académico de la Academia">
            <figcaption>Bienvenido, Director Académico de la Academia</figcaption>
          </figure>

          <figure>
            <img src="../../img/quienes_somos/fotos_equipo/resto/arquitecto_software.jpg" alt="Alan Buscaglia, Arquitecto software profesor">
            <figcaption>Alan Buscaglia, Arquitecto de Software</figcaption>
          </figure>
          
        </article>
        <h2>Resto de Nuestro Gran Equipo</h2>
        <article class="equipo2"> <!-- Este es el section del resto del equipo-->

            
              <figure>
                <img src="../../img/quienes_somos/fotos_equipo/equipo_directivo/vp_marketing.png" alt="Chema Alonso, VP de Marketing">
                <figcaption>Chema Alonso, VP de Marketing</figcaption>
              </figure>
              <figure>
                <img class="img-p" src="../../img/quienes_somos/fotos_equipo/resto/ingeniera_telecomunicaciones.png" alt="Bienvenido,Ingeniera de Telecomunicaciones profesora">
                <figcaption>Yolanda López, Ingeniera de Telecomunicaciones</figcaption>
              </figure>
              <figure>
                <img  src="../../img/quienes_somos/fotos_equipo/resto/experto_ciberseguridad.png" alt="Chema Alonso, VP de Marketing">
                <figcaption>Javier Marcos, Experto en Ciberseguridad</figcaption>
                <!--NO PONGO MÁS YA QUE ES UN EJEMPLO Y SI NO QUEDARÍA MUY LARGA Y MAL LA PÁGINA AL SOLO PODER USAR HTML-->
            </figure>
        </article>
    </section>

    <aside> <!-- Este es el section de relleno de información de quienes somos -->
        <picture>
            <source srcset="../../img/quienes_somos/resto_fotos_pagina/rating.webp" type="image/webp">
            <source srcset="../../img/quienes_somos/resto_fotos_pagina/rating.jpg" type="image/jpeg">
            <img width="850px" src="../../img/quienes_somos/resto_fotos_pagina/rating.png" alt="Rating de conquerblocks">
        </picture>
        <p class="sub-aside">Con más de 10,000 estudiantes satisfechos, un 95% de éxito laboral y más de 500 empresas colaboradoras, en Conquer Blocks nos enorgullece ser líderes en formación tecnológica de calidad. ¡Únete a nuestra comunidad y conquista tu futuro profesional!</p>

        <div class="agendar-llamada">
          <h3>Agenda Llamada</h3>
          <p>Si tienes cualquier duda o quieres empezar ya mismo no dudes en agendar una llamada para ello</p>
          <button>Agendar</button>
        </div>
    </aside>
      
  </main>
  <footer>
    <div class="footer__content-principal">
      <nav class="navbar-secundario">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li> <!-- misma carpeta -->
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav> 
  
      <nav class="navbar-redes_sociales">
        <ul>
          <li><a href=""><img src="../../img/redes_sociales/instagram.svg" alt="Instagram"></a></li>

          <li><a href=""><img src="../../img/redes_sociales/linkedin.svg" alt="Linkedin"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/facebook.svg" alt="Facebook"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/twitter.svg" alt="Twitter"></a></li>
        </ul>
      </nav>
    </div>
    
    <p>Somos una escuela tech online, con varios años de experiencia en el sector. Si tienes preguntas no dudes en ponerte en contacto con nosotros, te esperamos aqui en CONQUERBLOCKS</p>
    <p class="footer__aviso">Copyright © 2024 by CONQUERBLOCKS <a href="../generales/aviso_legal.html">Aviso legal</a></p>
  </footer>
</body>
</html>
