.button {
  display: inline-block;
  font-weight: bold;
  background-color: #13183F;
  color: white;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 300;
  text-decoration: none;
}
.button:hover {
  background-color: #666CA3;
}

.button-gradient-orange {
  display: inline-block;
  font-weight: bold;
  background-color: #13183F;
  color: white;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 300;
  text-decoration: none;
  background-image: linear-gradient(180deg, #FF6F48 0.04%, #f02aa6 100%);
}
.button-gradient-orange:hover {
  background-color: #666CA3;
}
.button-gradient-orange:hover {
  background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%));
}

.button-gradient-blue {
  display: inline-block;
  font-weight: bold;
  background-color: #13183F;
  color: white;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 300;
  text-decoration: none;
  background-image: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}
.button-gradient-blue:hover {
  background-color: #666CA3;
}
.button-gradient-blue:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.button-link {
  color: #FFA7C3;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .hero {
    margin-bottom: 150px;
  }
}
@media (min-width: 1440px) {
  .hero {
    margin-bottom: 250px;
  }
}
.hero__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
@media (min-width: 1440px) {
  .hero__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
  }
}
.hero__subtitle {
  margin-bottom: 25px;
  color: #83869A;
  line-height: 25px;
}
@media (min-width: 1440px) {
  .hero__subtitle {
    line-height: 35px;
  }
}
.hero__buttons {
  margin-bottom: 36px;
}
.hero__img {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  position: relative;
}
@media (min-width: 768px) {
  .hero__img {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .hero__img {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .hero__img {
    height: 400px;
  }
}
.hero__number {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: #13183F;
  padding: 5px;
  gap: 8px;
  text-align: left;
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0 -5px 1rem #ccc;
}
.hero__number span {
  display: block;
}
.hero__number-title {
  font-size: 12px;
  color: #83869A;
}
.hero__number-number {
  color: #13183F;
  font-size: 30px;
  font-weight: 700;
}
.hero__number-2 {
  padding: 16px 45px 16px 20px;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .hero__number-2 {
    left: 34px;
    bottom: -40px;
  }
}
@media (min-width: 1440px) {
  .hero__number-2 {
    left: 94px;
    bottom: -80px;
  }
}
.hero__number-1 {
  top: 0;
  right: 0;
  padding: 16px 20px 16px 20px;
}
@media (min-width: 768px) {
  .hero__number-1 {
    top: -33px;
  }
}
@media (min-width: 1024px) {
  .hero__number-1 {
    top: 45px;
  }
}
@media (min-width: 1200px) {
  .hero__number-1 {
    right: 85px;
  }
}
@media (min-width: 1440px) {
  .hero__number-1 {
    right: 15px;
  }
}
@media (min-width: 768px) {
  .hero__img-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero .container {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .hero .container {
    display: flex;
    padding-bottom: 100px;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .hero__content {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hero__content {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .hero__content {
    max-width: 440px;
  }
}

.activities {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .activities {
    padding-bottom: 80px;
  }
}
.activities__header {
  background-image: linear-gradient(180deg, #FF6F48 0.04%, #f02aa6 100%);
  padding: 25px 30px;
  color: white;
  border-radius: 10px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .activities__header {
    margin-bottom: 0;
  }
}
.activities__item {
  padding: 1rem 2rem;
  margin-bottom: 35px;
  background-color: white;
  border-radius: 10px;
  padding: 36px 28px 35px;
  position: relative;
}
@media (min-width: 768px) {
  .activities__item {
    margin-bottom: 0;
    padding: 36px 28px 15px;
  }
}
.activities__item:last-child {
  margin-bottom: 0;
}
.activities__item-icon {
  width: 56px;
  height: 56px;
  display: inline-block;
  background: linear-gradient(180deg, #FF6F48 0.04%, #f02aa6 100%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  left: 20px;
  top: -25px;
}
.activities__item-title {
  font-size: 20px;
  margin-bottom: 25px;
  color: #13183F;
}
.activities__item-description {
  color: #83869A;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .activities .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
  }
}
@media (min-width: 1024px) {
  .activities .container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px 35px;
  }
}

footer.footer-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  background-color: #13183F;
}
footer.footer-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.footer-principal ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
footer.footer-principal .button {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}

header.header-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
header.header-principal .container {
  display: flex;
  justify-content: space-between;
}
header.header-principal ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  align-items: center;
}
@media (min-width: 1024px) {
  header.header-principal {
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  header.header-principal {
    margin-bottom: 20px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url(../img/mujer_tablet.png);
    background-repeat: no-repeat;
    background-position: 125% 0;
    background-size: 400px;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: 130% 0;
    background-size: 600px;
  }
}
@media (min-width: 1200px) {
  body {
    background-position: 108% -20px;
    background-size: 600px;
  }
}
@media (min-width: 1440px) {
  body {
    background-position: 90% -20px;
    background-size: 700px;
  }
}

html * {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=app.css.map */