<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Full Stack | Máster Full Stack</title>
  <meta name="description" content="Descubre el mejor curso-máster de Desarrollo Web Full Stack del mercado, en el que aprenderas todo lo necesario para ser un gran profesional del área full stack, contaras además con entrevistas prácticas.">
  <meta name="author" content="Daniel Labrador Benito"> 

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  

  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <div class="header__container">
      <a class="logo-conquer" href="../../index.html">
        <img class="img-logo-conquer" src="../../img/home/logotipo/logo-conquerblocks-color.png" alt="Logotipo de Conquerblocks">
      </a>

      <!-- Toggle del menú con checkbox -->
      <input type="checkbox" id="menu-toggle" class="menu-checkbox">
      <label for="menu-toggle" class="menu-toggle">&#9776;</label>

      
      <nav class="navbar-principal">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li>
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="hero-curso1"> <!-- Este es el section de bienvenida al curso de Full Stack -->
        <h1>Master en Desarrollo Web Full Stack</h1>
        <a href="#agendar"><img width="300px" src="./../../img/cursos/fullstack/fullstack.jpg" alt="Portada curso Full Stack"></a>
        
        <p>Con nuestro Máster en Desarrollo Web Full Stack, adquirirás todas las habilidades necesarias para convertirte en un <strong>desarrollador web altamente competente.</strong> Aprenderás a crear aplicaciones web robustas y escalables utilizando tecnologías como HTML, CSS, JavaScript, Node.js, y bases de datos SQL. Además, recibirás formación en frameworks y herramientas de vanguardia como React, Angular, y Django.</p>
        <p>Este máster está diseñado tanto para principiantes como para desarrolladores con experiencia previa que deseen mejorar sus habilidades en desarrollo web completo. Al finalizar el curso, estarás preparado para afrontar proyectos web desafiantes y ser un desarrollador Full Stack altamente demandado en la industria.</p>
    </section>

    <section class="info-curso">
        <article class="equipo-curso">
            <h2>Nuestro equipo - profesores</h2>
            <img src="./../../img/cursos/fullstack/equipo_fullstack.webp" alt="Equipo Full Stack">
            <p>El equipo de profesores del Máster en Desarrollo Web Full Stack está formado por expertos en la industria tecnológica. Cada uno de nuestros instructores aporta años de experiencia práctica, trabajando en empresas de tecnología y liderando proyectos de desarrollo web. Están comprometidos a guiar a los estudiantes a través de un aprendizaje práctico, utilizando ejemplos reales y proyectos desafiantes para asegurar que los estudiantes estén preparados para el mundo laboral.</p>
        </article>

        <article class="metodologia-curso">
            <h3>Metodología</h3>
            <p>Nuestra metodología de enseñanza combina clases teóricas con ejercicios prácticos y proyectos de desarrollo reales. Creemos que la mejor manera de aprender es haciendo, por lo que los estudiantes trabajarán en proyectos individuales y colaborativos desde el primer día. Además, ofrecemos soporte continuo a través de tutorías personalizadas y sesiones en vivo para resolver dudas y profundizar en temas complejos.</p>
        </article>

        <article class="contenido-curso">
            <h3>Contenido del Máster</h3>
            <img width="200px" src="./../../img/cursos/fullstack/contenido.png" alt="icono contenido">
            <p>El contenido del máster cubre todos los aspectos esenciales del desarrollo web Full Stack. Los estudiantes aprenderán sobre diseño web responsivo, desarrollo de frontend con JavaScript y frameworks como React, y backend con Node.js y bases de datos SQL. También explorarán herramientas y metodologías ágiles, como Git y Scrum, que son fundamentales en el desarrollo de software moderno.</p>
            <ul>
                <li>Introducción al Desarrollo Web</li>
                <li>HTML, CSS y JavaScript</li>
                <li>Frontend con React y Angular</li>
                <li>Backend con Node.js y Express</li>
                <li>Bases de Datos Relacionales con MySQL</li>
                <li>Desarrollo Full Stack con Django</li>
                <li>Metodologías Ágiles: Scrum y Git</li>
                <li>Proyecto Final de Máster</li>
            </ul>
        </article>
    </section>

    <aside id="agendar"> <!-- Este es el section final de quienes somos para agendar una llamada -->
        <h2>Agenda Llamada</h2>
        <p>Si tienes cualquier duda o quieres empezar ya mismo no dudes en agendar una llamada con uno de nuestros asesores. Estaremos encantados de guiarte en el proceso de inscripción y responder a todas tus preguntas sobre el curso, la metodología, o los requisitos.</p>
        <button>Agendar</button>
    </aside>

  </main>
  <footer>
    <div class="footer__content-principal">
      <nav class="navbar-secundario">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li>
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav> 
  
      <nav class="navbar-redes_sociales">
        <ul>
          <li><a href=""><img src="../../img/redes_sociales/instagram.svg" alt="Instagram"></a></li>

          <li><a href=""><img src="../../img/redes_sociales/linkedin.svg" alt="Linkedin"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/facebook.svg" alt="Facebook"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/twitter.svg" alt="Twitter"></a></li>
        </ul>
      </nav>
    </div>
    
    <p>Somos una escuela tech online, con varios años de experiencia en el sector. Si tienes preguntas no dudes en ponerte en contacto con nosotros, te esperamos aqui en CONQUERBLOCKS</p>
    <p class="footer__aviso">Copyright © 2024 by CONQUERBLOCKS <a href="../generales/aviso_legal.html">Aviso legal</a></p>
  </footer>
</body>
</html>
