<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blockchain | Máster Blockchain</title>
  <meta name="description" content="Descubre el mejor curso-máster de Blockchain del mercado, en el que aprenderás todo lo necesario para ser un gran profesional del área full stack, contarás además con entrevistas prácticas.">
  <meta name="author" content="Daniel Labrador Benito"> 

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <link rel="stylesheet" href="../../css/style.css">
  
</head>

<body>
  <header>
    <div class="header__container">
      <a class="logo-conquer" href="../../index.html">
        <img class="img-logo-conquer" src="../../img/home/logotipo/logo-conquerblocks-color.png" alt="Logotipo de Conquerblocks">
      </a>

      <!-- Toggle del menú con checkbox -->
      <input type="checkbox" id="menu-toggle" class="menu-checkbox">
      <label for="menu-toggle" class="menu-toggle">&#9776;</label>

      
      <nav class="navbar-principal">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li>
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="hero-curso1">
        <h1>Máster en Blockchain</h1>
        <img width="300px" src="../../img/cursos/blockchain/portada_master.png" alt="Portada curso Blockchain">
        <p>Este máster está diseñado para aquellos interesados en adentrarse en el mundo de la tecnología Blockchain y <strong>convertirse en expertos</strong>. A lo largo del curso, aprenderás desde los fundamentos de la blockchain hasta su implementación en proyectos reales, cubriendo aspectos clave como contratos inteligentes, criptomonedas y seguridad en las redes descentralizadas.</p>
    </section>

    <section class="info-curso">
        <article class="equipo-curso">
            <h2>Nuestro equipo - profesores</h2>
            <img src="../../img/cursos/blockchain/equipo_blockchain.webp" alt="Equipo Blockchain">
            <p>Contamos con un equipo de profesores altamente cualificados y con experiencia en proyectos de blockchain de alto nivel. Nuestro enfoque es ofrecer una formación práctica, guiada por expertos que trabajan en el campo y te proporcionarán conocimientos actuales y aplicables.</p>
        </article>

        <article class="metodologia-curso">
            <h3>Metodología</h3>
            <p>Nuestro máster utiliza una metodología basada en la práctica, con proyectos reales y ejercicios interactivos. Los estudiantes aprenderán a través de casos de estudio, entrevistas prácticas con expertos y un enfoque hands-on que facilita la comprensión de los conceptos técnicos.</p>
        </article>

        <article class="contenido-curso">
            <h3>Contenido del Máster</h3>
            <img width="200px" src="../../img/cursos/blockchain/contenido.png" alt="Icono contenido">
            <p>Este curso cubre todos los aspectos esenciales para formarte como profesional de Blockchain. El contenido incluye:</p>
            <ul>
                <li>Introducción a Blockchain y Criptomonedas</li>
                <li>Funcionamiento de las redes descentralizadas</li>
                <li>Contratos inteligentes y su aplicación</li>
                <li>Blockchain y su impacto en sectores como la banca y las finanzas</li>
                <li>Desarrollo de aplicaciones descentralizadas (dApps)</li>
                <li>Seguridad en Blockchain y protección contra ataques</li>
            </ul>
        </article>
    </section>

    <aside>
        <h2>Agenda Llamada</h2>
        <p>Si tienes cualquier duda o quieres empezar ya mismo no dudes en agendar una llamada con uno de nuestros asesores. Estaremos encantados de guiarte en el proceso de inscripción y responder a todas tus preguntas sobre el curso, la metodología, o los requisitos.</p>
        <button>Agendar</button>
    </aside>

  </main>
  <footer>
    <div class="footer__content-principal">
      <nav class="navbar-secundario">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../generales/quienes_somos.html">Quiénes somos</a></li>
          <li><a href="../cursos/cursos.html">Cursos</a></li>
          <li><a href="../blog/blog.html">Blog</a></li>
          <li><a href="../generales/registro.html">Registro</a></li>
          <li><a href="../generales/login.html">Login</a></li>
          <li><a href="../generales/contacto.html">Contacto</a></li>
        </ul>
      </nav> 
  
      <nav class="navbar-redes_sociales">
        <ul>
          <li><a href=""><img src="../../img/redes_sociales/instagram.svg" alt="Instagram"></a></li>

          <li><a href=""><img src="../../img/redes_sociales/linkedin.svg" alt="Linkedin"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/facebook.svg" alt="Facebook"></a></li>
          
          <li><a href=""><img src="../../img/redes_sociales/twitter.svg" alt="Twitter"></a></li>
        </ul>
      </nav>
    </div>
    
    <p>Somos una escuela tech online, con varios años de experiencia en el sector. Si tienes preguntas no dudes en ponerte en contacto con nosotros, te esperamos aqui en CONQUERBLOCKS</p>
    <p class="footer__aviso">Copyright © 2024 by CONQUERBLOCKS <a href="../generales/aviso_legal.html">Aviso legal</a></p>
  </footer>
</body>
</html>
